#header {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    background-color: #1f2833;
}

#appName {
    color: #66fcf1;
}