/*All components' edit mode styling will be placed here*/

.name {
    font-size: 1.8rem;
    font-weight: bold;
    height: 2rem;
    width: 100%;
}

.email {
    font-size: 1rem;
    font-weight: 800;
    width: calc(100% /3);
}

.contactNo {
    font-size: 1rem;
    font-weight: 800;
    width: calc(100% /3);
}

.location {
    font-size: 1rem;
    font-weight: 800;
    width: calc(100% /3);
}

.institutionName, .duration {
    font-size: 1rem;
    font-weight: 800;
}

.institutionName, .title {
    width: 20rem;
}

.title, .institutionAddress {
    font-size: 1rem;
    font-style: italic;
    font-weight: lighter;
}

.listElement {
    width: 100%;
}