.resumePreview {
    font-family: sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 215.9mm;
    height: 279.4mm;
    background-color: white;
    padding: 25.4mm;
}

.header {
    font-size: 1rem;
    border-bottom: 0.2rem solid black;
    margin-top: 1rem;
}